StackLayout {
    margin-left: 15;
    margin-right: 15;
    margin-bottom: 50;
    margin-top: 50;
    padding-bottom: 15;
    background-color: #dd7777;
}

Label {
    horizontal-align: center;
}

.app-title {
    height: 150;
    margin-right: 20;
    margin-left: 20;
    font-size: 50;
    background-color: red;
}

.app-logo {
    height: 250;
    width: auto;
    margin: 20;
    background-color: blue;
}

Button {
    width: 80%;
    font-size: 30;
    background-color: white;
}