StackLayout {
    padding: 20;
    vertical-align: center;
    background-color: #f0f0f0;
}

.app-title {
    width: 100%;
    font-size: 70;
    font-weight: bold;
    color: #1cb0f6;
}

.app-logo {
    height: 350;
    width: 100%;
    background-color: #ccf;
    margin: 20;
}

Button {
    margin: 30;
    margin-bottom: 100;
    padding: 10;
    border-radius: 20%;
    font-size: 20;
    font-weight: bold;
    color: #f0f0f0;
    background-color: #1cb0f6;
}