ActionBar {
    background-color: #1cb0f6;
}

Label {
    horizontal-align: center;
    vertical-align: center;
    font-size: 20;
    color: #fefefe;
}

.home-container {
    background-color: #f0f0f0;
    padding: 5;
}

.button {
    margin: 5;
    border-radius: 3;
    box-shadow: 0 3 6 #333;
}

.button-icon {
    font-size: 80;
    margin-bottom: 5;
}