<md-toolbar color="primary">
    <span>{{title}}</span>
    <span style="flex: 1 1 auto;" class="md-toolbar-spacer"></span>
    <div *ngIf="user; else loginButton">
        <span class="text-username">{{ (af.auth | async)?.google.email }}</span>
        <button md-button (click)="logout()">Logout</button>
    </div>
    <ng-template #loginButton>
        <button md-button (click)="login()">Login</button>
    </ng-template>
</md-toolbar>
<md-card>
    <form class="add-resource-form">
        <md-input-container>
            <input mdInput placeholder="Resource Name">
        </md-input-container>
        <md-input-container>
            <input mdInput placeholder="URL">
        </md-input-container>
        <md-input-container>
            <input mdInput placeholder="Category">
        </md-input-container>
        <button md-button (click)="addResource()">Add</button>
    </form>
</md-card>

<main *ngIf="user" class="content-main">
    <md-card *ngFor="let resource of resources | async">
        <md-card-header>
            <div md-card-avatar class="card-avatar-image"></div>
            <md-card-title>{{resource.name}}</md-card-title>
            <md-card-subtitle>{{resource.category}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
            <a href=" {{resource.url}} ">{{resource.url}}</a>
        </md-card-content>
    </md-card>
</main>