<md-toolbar color="primary">
    <span>{{title}}</span>
    <span style="flex: 1 1 auto;" class="md-toolbar-spacer"></span>
    <div *ngIf="user.google">
        <span>{{ (af.auth | async)?.google.email }}</span>
        <button md-button (click)="logout()">Logout</button>
    </div>
    <button md-button (click)="login()">Login</button>
</md-toolbar>
<ul *ngIf="user.google">
    <li class="text" *ngFor="let item of items | async">
        {{item.$value}}
    </li>
</ul>

{{(af.auth | async | json)}}