.login-message {
    padding: 3rem;
    text-align: center;
}

.text-username {
    font-size: 1rem;
    font-weight: lighter;
}

.content-main {
    max-width: 980px;
    margin: auto;
}

.resources-container {
    display: flex;
    flex-wrap: wrap;
}

.resource-card {
    max-width: 200px;
    margin: 1rem;
}

.add-item-card {
    max-width: 480px;
    margin: 2rem auto;
}

.card-avatar-image {
    background-image: url(/assets/images/blank-user.png);
    background-size: cover;
}

md-input-container {
    width: 100%;
}